<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mice Tumor Dashboard</title>
</head>
<body>
    <h1>Mice Tumor Dashboard</h1>
    <ul>
        <li>Summary Statistics</li>
        <li>Data Points per Drug Regimen</li>
        <li>Distribution of Mice (Male vs. Female)</li>
        <li>Four Drug Treatments (IQR) - Boxplot</li>
        <li>Tumor Volume Over Time (Capomulin)</li>
        <li>Average Tumor Volume vs Weight (Capomulin) Scatterplot + Linear Regression</li>
    </ul>
    <p>Content here</p>
</body>
</html>